Django==1.4.5
PyYAML==3.10
argh==0.23.0
argparse==1.2.1
boto==2.8.0
django-appconf==0.6
django-compressor==1.2
django-crispy-forms==1.2.3
django-storages==1.1.6
pathtools==0.1.2
six==1.2.0
watchdog==0.6.0
wsgiref==0.1.2
