{% extends skeleton_template %}

{% block body %}
	<header class="header">
		<div class="navbar {% block navbar_class %}navbar-fixed-top {% endblock navbar_class %}">
			<div class="navbar-inner">
				<div class="container">
					{# THIS BLOCK SHOULD BE USED TO OVERRIDE THE ENTIRE CONTENTS OF THE TOP NAVBAR #}
					{% block navbar %}
						<a class="brand" href="/primer/">Primer</a>
					{% endblock navbar %}
				</div>
			</div>
	  	</div>
	</header>

	<div id="main">
		{% block app_content %}
			{% block view_content %}
			{% endblock view_content %}
		{% endblock app_content %}
	</div>

	<footer class="footer">
		<div class="container">
		{% block footer %}
		{% endblock footer %}
		</div>
	</footer>
{% endblock body %}
