{% load crispy from crispy_forms_tags %}

<div class="media-uploader">
	<div class="media-uploader-files">

		{% for link in previous_files %}
			<div class="fileicon-wrapper">
				<div class="fileicon-{{ link.media.extension }}"><label>{{ link.media.extension|upper }}</label></div> 
				<div class="label">{{ link.media.original_filename }}</div>
			</div>			
		{% endfor %}

		<!-- <div class="fileicon-wrapper" data-hash=" hash ">
			<div class="panel flip">
				<div class="fileicon front"><label> ext.toUpperCase()</label></div> 
				<div class="fileicon back"><input style="margin-top:40px" class="upload-progress" value="0"/></div> 
			</div>
			<div class="label"> name </div>
		</div> -->
	</div>
	<div class="form-actions">
		{% crispy form %}
	</div>
</div>

<script type="text/javascript">
	$(function(){
		

		$(document).bind('dragover', function (e) {
			var dropZone = $('.media-uploader'),
			    timeout = window.dropZoneTimeout;
			if (!timeout) {
			    dropZone.addClass('in');
			} else {
			    clearTimeout(timeout);
			}
			if (e.target === dropZone[0]) {
			    dropZone.addClass('hover');
			} else {
			    dropZone.removeClass('hover');
			}
			window.dropZoneTimeout = setTimeout(function () {
			    window.dropZoneTimeout = null;
			    dropZone.removeClass('in hover');
			}, 100);
		});


		function createFileIcon(name, hash) {
			var split = name.split('.');
			var ext = split.length > 1 ? split[split.length - 1].toLowerCase() : '';
			var cssClass = ext ? 'fileicon-' + ext : 'fileicon';

			var icon = $('<div class="fileicon-wrapper" data-hash="'+ hash +'">' +
							'<div class="panel flip">' + 
								'<div class="'+ cssClass +' front"><label>'+ ext.toUpperCase()+'</label></div>' +
								'<div class="fileicon back"><input type="hidden" class="upload-progress" value="0"/></div>' +
							'</div>' +
							'<div class="label">'+ name +'</div>' +
						'</div>');

			$('.media-uploader-files').append(icon);

			var uploadProgress = icon.find('.upload-progress');
			var fileIcon = icon.find('.fileicon.back');
			var width = fileIcon.width() * .5;
			
			uploadProgress.knob({
				skin : 'tron',
				width: width,
				height: width,
				fgColor: fileIcon.css('color'),
				displayInput: false,
				readOnly: true,
				thickness: .2,
			});

			return icon;
		}

		function getFileHash(data) {
			return $.md5(data.size + data.type + data.name);
		}

		$('#id_file').fileupload({
	        dropZone: $('.media-uploader'),
	        add: function(e, data) {
	        	$(data.files).each(function(){
	        		createFileIcon(this.name, getFileHash(this));
	        	});
	        	data.submit();
	        },

	        progress: function (e, data) {
	        	$(data.files).each(function(){
	        		var progress = parseInt(data.loaded / data.total * 100, 10);	
	        		var file = $('[data-hash=' + getFileHash(this) + ']');
	        		var uploadProgress = file.find('.upload-progress');
	        		var animationObject = file.data('animationObject') || $({progress: parseInt(uploadProgress.val())});
	        		file.data('animationObject', animationObject);
	        		animationObject.stop().animate(
	        			{ progress: progress },
	        			{
	        				step: function() {
	        					uploadProgress.val(this.progress).trigger('change');
	        				}
	        			}
	        		);

	        		
	        	});
			},

			done: function(e, data) {
				$(data.files).each(function(){
	        		var file = $('[data-hash=' + getFileHash(this) + ']');
	        		file.find('.upload-progress').val(100).trigger('change');
					file.find('.panel.flip').removeClass('flip');
					
					//There are some weird 3d issues with webkit. This removes
					//the 3D effect which causes rendering glitches on the page
					setTimeout(function(){
						file.removeClass('panel');
						file.find('.back').remove();
					}, 500);
	         	});
			}
	    });
	});
</script>