/*******************************************************
 * Form definitions for primer and betterforms
 ******************************************************/

// hide all honeypot fields
#div_id_honeypot {
	display:none;
}

.autogrow {
	overflow: hidden;
	resize: none;
}

.asteriskField {
    color:red;
}

.primerdatepickerinput + i {
	position: absolute;
}

/****************************************************
 * file uploader
 ****************************************************/
.file-upload-media-container {

	background: @input-group-addon-bg;
	padding: @thumbnail-padding;
	padding-bottom:0;
	border-radius: @border-radius-base;
	margin-top: 10px;
	line-height: 0;

	&.empty {
		display: none;
	}

	.file-image-field-thumbnail {
		display: inline-block;
		position: relative;
		margin-bottom: @thumbnail-padding;
		margin-right: @thumbnail-padding;
		.transition(none);
		.dragCursor();

		img {
			height: 142px;
		}

		.close {
			.opacity(.8);
			position: absolute;
			background:black;
			width: 30px;
			height:30px;
			font-weight: normal;
			line-height: 25px;
			right:@thumbnail-padding;
			top:@thumbnail-padding;
			text-align: center;
			color:white;
		}

		.close:hover {
			.opacity(1);
		}
	}
}