/*******************************************************
 * Form definitions for primer and betterforms
 ******************************************************/

// hide all honeypot fields
#div_id_honeypot {
	display:none;
}

.autogrow {
	overflow: hidden;
	resize: none;
}

.asteriskField {
    color:red;
}

.primerdatepickerinput + i {
	
  position: absolute;
}

// file uploader
.file-image-field-thumbnail {
	display: inline-block;
	margin-bottom:0;
	img {
		height: 192px;
	}
}