@import '/static/primer/bootstrap/less/variables';

@loader: '/static/primer/img/loaders/loading.gif';
@placeholderTextColor: #999;

//for setting custom brand logos
@navbarBrandBackground:		tranparent;
@navbarBrandWidth:			auto;
@navbarBrandColor:          inherit;

//for setting custom brand logos on the login page
@loginBrandBackground:		tranparent;
@loginBrandColor:          	inherit;

