@import 'variables';
@import '../primer';
@import 'doc_base';

body {
	.transition(background 1s);
	padding-top:0;

	&.primer-color-example-expanded * {
		border-color: rgba(200,200,200,.4) !important;
	}

	.tab-size(4);

	.jumbotron {
		position: relative;
		padding-top: @navbarHeight + 40;
		//#gradient > .horizontal(#89B4CA, #e7003e);
		
		&:before {
			.transition(all 1s ease-out);
			content:'';
			
			opacity:0;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}

		&.glow:before {
			opacity:1;
		}

		&:after {
			background: transparent url('../img/docs/paint.png') scroll repeat left top;
		}
	}
	
}


header {
	.navbar .brand {
		float:right;
		color: white;
		font-weight: bold;
	}

	.navbar .navbar-inner {
		#gradient > .vertical(rgba(0,0,0,1), rgba(0,0,0,.4));
		border:0;
	}
}


#color-picker-example-color {
	.transition(all 1s);
}


#template-example {
	.t-label {
		line-height: 200px;
		text-align: center;
		position: absolute;
		width: 100%;
		z-index: 1;
		opacity: 0;
		.transition(all 1s ease-out);
	}

	.template-pane {
		margin-left:0;
		top:0;
		width: 300px;
		left:0;
		height: 200px;
		position: absolute;
		.transition(all 1s ease-in-out);
	}

	.template-container {
		position: relative;
		height: 200px;
		.perspective(1600px);
		margin-left: 50%;
		left: -150px;
		.transition(all 1s ease-in-out);
	}

	&.split {
		.template-pane {
			.transform(rotateY(55deg));
			.box-shadow(0 0 5px rgba(0,0,0,.3));
			opacity:.9;
		}

		.base-template {
			margin-left: 15%;	
		}

		.site-template {
			margin-left: 30%;	
			opacity:1;
		}
		
		.app-template {
			margin-left: 45%;
		}

		.view-template {
			margin-left: 60%;
		}

		.t-label {
			opacity:1;
		}
		.template-container {
			margin-left:0;
			left:0;
		}
	}	

	.skeleton-template {
		background: @linkColor;
		width: 300px;
		height: 200px;
		margin-left:0 !important;
	}

	.site-template {
		background: lighten(@linkColor, 40%);
		opacity:0;
	}

	.base-template {
		background: #eee;
		.t-label {line-height: 170px;}
	}

	.app-template {
		top:20px;
		bottom: 50px;
		height: auto;

		.t-label {line-height: 130px;}
	}

	.view-template {
		top:20px;
		left: 50px;
		background: lighten(@linkColor, 40%);
		height: 130px;
		width: 250px;
		.t-label {line-height: 130px;}
	}


	.t-header {
		background: black;
		height: 20px;
		top:0;
		width: 100%;
		position: absolute;
	}

	.t-footer {
		background: #ccc;
		height: 50px;
		bottom:0;
		left:0;
		right:0;
		position: absolute;
	}

	.t-sidebar {
		width: 50px;
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		background: lighten(@linkColor, 20%);
	}

	.t-content {
		background: #eee;
		position: absolute;
		top:0;
		width: 250px;
		bottom:0;
		left: 50px;
	}
}