{% extends site_template %}

{% load url from future %}
{% load notifications_widget from primer_notification_tags %}

{% block header_css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}primer/css/primer.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}primer/css/vendors/prettify.css">
{% endblock header_css %}


{% block external_scripts %}
{% endblock external_scripts %}

{% block app_scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}primer/js/vendors/google-code-prettify/prettify.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}primer/bootstrap/docs/assets/js/application.js"></script>
{% endblock app_scripts %}

{% block body_attrs %}
data-spy="scroll" data-target=".bs-docs-sidebar" data-offset="180"
{% endblock body_attrs %}

{% block navbar_class %}
navbar-fixed-top navbar-inverse
{% endblock navbar_class %}

{% block navbar %}
	{{ block.super }}
	
	<ul class="nav">
		<li><a data-ajax="app" href="{% url 'feature-home' %}">Home</a></li>
		<li><a data-ajax="app" href="{% url 'feature-setup' %}">Setup</a></li>
		<li><a data-ajax="app" href="{% url 'feature-get-started' %}">Get Started</a></li>
		<li><a data-ajax="app" href="{% url 'feature-templating' %}">Templating</a></li>
		<li><a data-ajax="app" href="{% url 'feature-javascript' %}">JavaScript</a></li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				More
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-ajax="app" href="{% url 'feature-notifications' %}">Notifications</a></li>
				<li><a data-ajax="app" href="{% url 'feature-comments' %}">Comments</a></li>
				<li><a data-ajax="app" href="{% url 'feature-media' %}">Media</a></li>
			</ul>
		</li>
	</ul>

	<ul class="nav pull-right">
		{% notifications_widget %}
	</ul>
{% endblock navbar %}


{% block app_content %}
	{% block pre_content %}
	{% endblock pre_content %}
	<div class="container">
		<div class="row">
			<div class="span3 bs-docs-sidebar">
				<ul class="nav nav-list bs-docs-sidenav affix-top">
					{% block feature_nav %}
					{% endblock feature_nav %}
				</ul>
			</div>
			
			<div class="span9">
			{% block view_content %}
			{% endblock view_content %}
			</div>
		</div>
	</div>
	{% block post_content %}
	{% endblock post_content %}
{% endblock app_content %}


{% block footer %}
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>I wanted to build something great, so I built this.</p>
    <p>Created by <a href="http://twitter.com/jamesmfriedman">@jamesmfriedman</a></p> 
{% endblock footer %}