{% load comments from primer_comment_tags %}
{% load primer_tags %}
<section id="comments">
	<div class="page-header">
		<h1>Comments</h1>
	</div>

	<div class="row-fluid">
		<div class="span6">
			<p>Getting a comments list on a page with primer is extremely easy. Load the <code>primer_comment_tags</code> template tag library, and pass an object from the database in as your target. The form will be added for you automatically, and it is an extension of Django's built in comment form, so it contains all the nifty little security features as well as checking for profanity, duplicates, etc.</p>

			<div class="alert alert-info"><strong>Heads Up!</strong> The fields for name and email will appear if the user isn't authenticated.</div>
		
		</div>
		<div class="span6">
			<div class="bs-docs-example" id="client-side-demo-container">
			{% comments target=comment_obj limit=4 login_required=0 %}
			</div>			
<pre class="prettyprint linenums">{% verbatim %}
{% load comments from primer_comment_tags %}
{% comments target=my_object %}{% endverbatim %}
</pre>
		</div>
	</div>
	
</section>