{% extends app_template %}
{% load comments from primer_comment_tags %}


{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>Comments</h1>
	<p class="lead">Easy to integrate comments and walls for your app.</p>
	</div>
</header>
{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#overview">Overview <i class="icon-chevron-right"></i></a></li>
<li><a href="#template-tags">Template Tags <i class="icon-chevron-right"></i></a></li>
<li><a href="#comments">Comments <i class="icon-chevron-right"></i></a></li>
<li><a href="#walls">Walls <i class="icon-chevron-right"></i></a></li>
<li><a href="#timelines">Timelines <i class="icon-chevron-right"></i></a></li>
{% endblock feature_nav %}

{% block view_content %}
	
	{% include 'feature/comments_overview.html' %}
	{% include 'feature/comments_template_tags.html' %}
	{% include 'feature/comments_comments.html' %}
	{% include 'feature/comments_wall.html' %}
	{% include 'feature/comments_timelines.html' %}

{% endblock view_content %}