{% extends app_template %}


{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>Get Started</h1>
	<p class="lead">Adding some tricks to Django's framework.</p>
	</div>
</header>
{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#database">Database</a></li>
<li><a href="#css">CSS</a></li>
<li><a href="#less">LESS</a></li>
<li><a href="#push">Push Services</a></li>
{% endblock feature_nav %}

{% block content %}
	{% include 'feature/get_started_database.html' %}
	{% include 'feature/get_started_css.html' %}
	{% include 'feature/get_started_less.html' %}
	{% include 'feature/get_started_push.html' %}
{% endblock content %}