{% load url from future %}
<section id="overview">
	<div class="page-header">
		<h1>Overview</h1>
	</div>

	<h4>Documentation URL: <a href="{% url 'feature-home' %}">http://{{ request.get_host }}{% url 'feature-home' %}</a></h4>
	<div class="alert alert-info"><b>FYI:</b> You can access this documentation at any time as long as <code>settings.DEBUG</code> is set to True.</div>

	<p>Primer is the glue that holds together multiple other frameworks and open source utilities. I won't go into detail on how to use each individual framework, but I'll highlight what Primer does for you automagically, as well as expose some useful utilties for you to use so you don't repeat something thats been done for you. Django is the only real requirement here, but the rest comes packaged with and is used by Primer. The following frameworks for leveraged for you to build with:</p>

	<ul>
		<li><b><a href="https://www.djangoproject.com/" target="_blank">Django</a></b>: A seriously awesome backend framework built in Python, used by some unknown companies such as Pinterest and Instagram.</li>
		<li><b><a href="http://jquery.com/" target="_blank">jQuery</a></b>: A JavaScript framework used on over half of the web. If you haven't heard of it, you live under a rock.</li>
		<li><b><a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a></b>: The best front end UI kit for web.</li>
		<li><b><a href="http://lesscss.org/" target="_blank">LESS</a></b>: A CSS Preprocessor that adds mixins, variables, and nested style rules.</li>
	</ul>
</section>