{% extends app_template %}


{% block pre_content %}
<div class="jumbotron masthead">
  	<div class="container">
	    <h1>Primer</h1>
    	<p>The basecoat for your web app.</p>
    	<p>
      		<a href="assets/bootstrap.zip" class="btn btn-primary btn-large" >Download Primer</a>
      		<a href="assets/bootstrap.zip" class="btn btn-primary btn-large" >Donate <b>$</b></a>
    	</p>
	    <ul class="masthead-links">
	      	<li>
	        	<a href="http://github.com/jamesmfriedman/primer/" >GitHub project</a>
	      	</li>
	      	<li>
	        	<a href="./extend.html" >Extend</a>
	      	</li>
	      	<li>
	        	Version 0.1
	      	</li>
	    </ul>
  	</div>
</div>
{% endblock pre_content %}

{% block content %}
This is stuff
{% endblock content %}
