{% extends app_template %}


{% block app_content %}
<div class="jumbotron">
  	<div class="container">
	    <h1>Primer</h1>
    	<p>The base coat for your web app.</p>
    	<p>
      		<a href="http://github.com/jamesmfriedman/django-primer/" target="_blank" class="btn btn-primary btn-large" >Download Primer</a>
      		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G3TBNHXD973QC" target="_blank" class="btn btn-primary btn-large" >Donate <i class="icon-gift"></i></a>
    	</p>
	    <ul class="masthead-links">
	      	<li>
	        	<a href="http://github.com/jamesmfriedman/django-primer/" target="_blank">GitHub project</a>
	      	</li>
	      	<li>
	        	Version 0.1
	      	</li>
	    </ul>
  	</div>
</div>

<div class="container">
	<div class="marketing">

	    <h1>What is Primer?</h1>
	    <p class="marketing-byline">It is a WebDK for making web apps, with all the ground work done for you.</p>

	    <div class="row-fluid">
	    	<div class="span4">
	    		<h2>What's a WebDK?</h2>
	    		<p>Well, it's an SDK designed for the web. Primer is here to be your toolbox, with a lot of hard or boring stuff done for you.</p>
	    	</div>
	    	<div class="span4">
	    		<h2>Built with the best.</h2>
	    		<p>Primer is a conglomeration of multiple open source frameworks and tools with some custom glue tying it all together. At its core, it leverages the combined powers of Django, jQuery, Bootstrap, and LESS CSS to make for the an integrated end to end development experience.</p>
	    	</div>
	    	<div class="span4">
	    		<h2>From the Author</h2>
	    		<blockquote>
	    			<p>Building web apps should be quicker and easier. Primer is here to close the gap, allowing you to create high fidelity web apps with a lot of the leg work done for you.</p>
	    			<small>James Friedman</small>
	    		</blockquote>
	    	</div>
	    </div>
	</div>
    
</div>

{% endblock app_content %}




