{% extends app_template %}


{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>JavaScript</h1>
	<p class="lead">Primer picks up where Bootstrap left off.</p>
	</div>
</header>
{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#overview">Overview <i class="icon-chevron-right"></i></a></li>
<!-- <li><a href="#ajax">Ajax <i class="icon-chevron-right"></i></a></li> -->
<li><a href="#page-handling">Page Handling <i class="icon-chevron-right"></i></a></li>
<li><a href="#color-picker">ColorPicker <i class="icon-chevron-right"></i></a></li>
<li><a href="#toolkit">Toolkit <i class="icon-chevron-right"></i></a></li>
{% endblock feature_nav %}

{% block view_content %}
	{% include 'feature/javascript_overview.html' %}
	{% include 'feature/javascript_page_handling.html' %}
	{% include 'feature/javascript_color_picker.html' %}
	{% include 'feature/javascript_toolkit.html' %}
{% endblock view_content %}