{% extends app_template %}
{% load comments from primer_comment_tags %}


{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>Media</h1>
	<p class="lead">File handling for your site, made simple.</p>
	</div>
</header>
{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#overview">Overview <i class="icon-chevron-right"></i></a></li>
<li><a href="#uploader">Ajax Uploader <i class="icon-chevron-right"></i></a></li>
{% endblock feature_nav %}

{% block content %}
	{% include 'feature/media_overview.html' %}
	{% include 'feature/media_uploader.html' %}
{% endblock content %}