{% extends app_template %}
{% load notifications from primer_notification_tags %}

{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>Notifications</h1>
	<p class="lead">A fully featured notifications center with push capabilities.</p>
	</div>
</header>


{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#overview">Overview <i class="icon-chevron-right"></i></a></li>
<li><a href="#client">Client Side <i class="icon-chevron-right"></i></a></li>
<li><a href="#server">Server Side <i class="icon-chevron-right"></i></a></li>
<li><a href="#push">Push Notifications <i class="icon-chevron-right"></i></a></li>

{% endblock feature_nav %}

{% block content %}
	<section id="overview">
		
		{% notifications %}
		
		<div class="page-header">
			<h1>Overview</h1>
		</div>
		<p>The notifications framework is a top to bottom solution for notifying your users with toast / growl style pop up messages as well as storing them for later viewing in a notifications center. The notifications frawemework leverages Django's builtin messages framework for cookie based notifications as well as generating notifications from the client. It also bakes in Pusher.com and PubNub for plug and play push notifications to your app.</p>
	</section>

	{% include 'feature/notifications_client.html' %}
	{% include 'feature/notifications_server.html' %}
	{% include 'feature/notifications_push.html' %}
	

{% endblock content %}