{% load url from future %}

<section id="push">
	<div class="page-header">
		<h1>Push Notifications</h1>
	</div>
	<p>If you've plugged in a push framework, you can set the attribute of <code>push</code> to True for your notification class. This will do a realtime push to any users that are currently logged in. Any additional data that you pass as part of the class <code>data</code> attribute will be sent along side of the <code>tags</code> and <code>message</code> attributes. If you are not using a push framework, the Django messages framework will be used BUT the message will only be delivered if it is going to the currently logged in user (the user that instantiated the request). In this case, messages will still be stored for other users in the database (based on your storage level), but will not appear on their screens.</p>

	<h3>Push Test <small>current service is <strong>{{ push_service }}</strong></small></h3>
	<div id="test-push-notifications-container" class="bs-docs-example">
		<a id="test-push-notifications" href="{% url 'feature-notifications-push-test' %}" class="btn btn-primary">Test Push Notifications</a>
	</div>
<pre class="prettyprint linenums">
# Sample push notification
# in this case, data gets pushed directly to primer-notifications.js
# so we can control where it gets rendered from the server, or
# set other additional js options
InfoNotification(
    message = 'Push notifications are working!',
    data = {'parent': '#test-push-notifications-container'},
    push = True,
).send()
</pre>
</section>

<script type="text/javascript">
	$(function(){
		$('#test-push-notifications').click(function(e){
			e.preventDefault();
			var btn = $(this);
			if (btn.hasClass('disabled')) return;

			var btnText = btn.text();
			btn.addClass('disabled');
			btn.text('Sending Push Notification...');

			$.get($(this).attr('href'), function(){
				btn.text(btnText);
				btn.removeClass('disabled');
			});
		});
	});
</script>