{% load verbatim from primer_tags %}

<section id="templates">
	<div class="page-header">
		<h1>Templates</h1>
	</div>
	<p>
		I've heard plenty of devs say that Django's templating system wasn't powerful enough. I'd say quite the opposite, and that at times it might be too powerful. Primer seeks to add some convention to Django's templating system, and if used properly, can lead to some really DRY templating. It might seem like a lot at first, but I promise it pays off.
	</p>

	<h3>Extension Patterns</h3>
	<p>
		Primer defines a pattern for template extension that relies on convention. The following variables get passed into the template context. They are part of the request.primer dict and can be modified in any view before they ever hit the templates.
	</p>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Template Var</th>
				<th>Template Paths</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>skeleton_template</td>
				<td>['skeleton.html', 'primer/skeleton.html']</td>
				<td>This is the HTML skeleton for a site. It includes block tags for injecting things into the head of your document and includes all of Primers css and scripts. You can override Primer's by creating a 'skeleton.html' file.</td>
			</tr>
			<tr>
				<td>site_template</td>
				<td>[current_site_name + '/site.html', 'site.html', skeleton_template]</td>
				<td>This is an optional but extremely useful template to include. This is a good place to add global site specific css and javascript files that all of your base_templates will extend.</td>
			</tr>
			<tr>
				<td>base_template</td>
				<td>['base.html', 'primer/base.html']</td>
				<td>This is a layout for your site. In a typical example, it would possibly include a header, content area, and footer, but it could be anything. It should extend site_template. There is a default layout in primer for you to use if you don't define your own. This template path will be automatically switched to Django's default login template if authentication is required <code>registration/login.html</code>. This needs to contain an empty block called <code>app_content</code>.</td>
			</tr>
			<tr>
				<td>app_template</td>
				<td>[appname + '/base.html', base_template]</td>
				<td>This template should extend base_template. This wil be a template that is located in a template directory that has the same name as your current app. This is a framing for your app. For instance, if you have an message style app for your site, this might represent the outside nav and menu, while the content of the individual sections is handled by the view_template. If not present, it defaults to whatever base_template is. This needs to contain a block called <code>app_content</code> which will include all of the contents of your apps html as well as an empty block called <code>content</code>.</td>
			</tr>
			<tr>
				<td>view_template</td>
				<td>[appname + '/view_name.html', view_name + '.html']</td>
				<td>This is the first point of contact from your view. It should extend app_template. It represents the content of your current view. In the example of the message app, this could be your actual inbox, or a sent messages area. This needs to include a block called <code>content</code>.</td>
			</tr>
		</tbody>
	</table>

	<h3>Template Blocks</h3>
	<p>The power of Primer's templates really lies in the fully leveraging template extensions and block overrides. The following are all blocks you can override from any of your templates. Obviously these don't apply if you override the templates that come with Primer.</p>

	<h4>Skeleton <small>primer/skeleton.html</small></h4>
	<table class="table table-borderd table-striped">
		<thead>
			<tr>
				<th>Block Tag</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>namespace</td>
				<td>A CSS namespace that goes on the html tag. Namespacing your css will save your life.</td>
			</tr>
			<tr>
				<td>title</td>
				<td>The title for your website / page</td>
			</tr>
			<tr>
				<td>favicon</td>
				<td>The favicon for your site. If you override, you will have to include the entire <code>&lt;link/&gt;</code> tag</td>
			</tr>
			<tr>
				<td>meta</td>
				<td>Any meta tags associated with your site. You will most likely want to super this block. <code>{% verbatim %}{{ block.super }}{% endverbatim %}</code></td>
			</tr>
			<tr>
				<td>header_css</td>
				<td>CSS for your site. This will be compressed using django-compressor.</td>
			</tr>
			<tr>
				<td>header_scripts</td>
				<td>Additional javascript to include on the site. All of the JS Primer needs will be included for you outside of this block.</td>
			</tr>
			<tr>
				<td>body_attrs</td>
				<td>Attributes for the body tag. <code>{% verbatim %}{% block body_attrs %}class="foo"{% endblock body_attrs %}</code>{% endverbatim %}</td>
			</tr>
			<tr>
				<td>body</td>
				<td>The actual contents of the body tag.</td>
			</tr>
			<tr>
				<td>external_scripts</td>
				<td>Any external scripts you are including in your site.</td>
			</tr>
		</tbody>
	</table>

	<h4>Base <small>primer/base.html</small></h4>
	<table class="table table-borderd table-striped">
		<thead>
			<tr>
				<th>Block Tag</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>navbar_class</td>
				<td>An additional class to append to bootsraps navbar. This contains <code>navbar-fixed-top</code> by default</td>
			</tr>
			<tr>
				<td>navbar</td>
				<td>The inner contents of the navbar.</td>
			</tr>
			<tr>
				<td>app_content</td>
				<td>The apps content, generally should be injected from your <code>app_template</code></td>
			</tr>
			<tr>
				<td>footer</td>
				<td>Contents of your footer.</td>
			</tr>
		</tbody>
	</table>

	<h3>Examples and Useage</h3>

	<div id="template-example" class="bs-docs-example">
		
		<a href="#" id="template-split" class="btn btn-primary">Animate</a>
		<script type="text/javascript">
			$(function(){
				$('#template-split').click(function(){
					$("#template-example").toggleClass('split');
				});
			});
		</script>

		<div class="template-container">
			<div class="skeleton-template template-pane">
				<span class="t-label">Skeleton Template</span>
			</div>

			<div class="site-template template-pane">
				<span class="t-label">Site Template</span>
			</div>

			<div class="base-template template-pane">
				<span class="t-label">Base Template</span>
				<div class="t-header"></div>
				<div class="t-body">
				</div>
				<div class="t-footer"></div>
				
			</div>

			<div class="app-template template-pane">
				<span class="t-label">App Template</span>
				<div class="t-sidebar"></div> 
				<div class="t-content"></div>
				
			</div>

			<div class="view-template template-pane">
				<span class="t-label">View Template</span>
			</div>
		</div>

		<br/><br/>
	</div>

	<p>Lets say you are making a painting app for your django site. You create the app, and you include the urls in your core urls file, making sure to specify the app name.</p>
<pre class="prettyprint linenums">
# in your main url conf
url(r'^painter/', include('mysite.painter.urls', app_name = 'painter'))
</pre>

	<p>Now if you have a view named <code>brushes</code> as part of your painting app. Primer will look for a template called <code>painter/brushes.html</code>. This is your <code>view_template</code>. It will also look for your <code>app_template</code> located at <code>painter/base.html</code>. Your view and app templates would look something like this:</p>

<pre class="prettyprint linenums">
# this is an example view template for painter/brushes.html
# note that it extends your app_template{% verbatim %}
{% extends app_template %}

{% block content %}
	This is some stuff from my view {{ some_var }}
{% endblock content %}{% endverbatim %}
</pre>

<pre class="prettyprint linenums">
# this is an example view template for painter/base.html
# note that it extends your base_template{% verbatim %}
{% extends base_template %}

{% block app_content %}
	&lt;div class="menu"&gt;
		&lt;a href="#"&gt;Item 1&lt;/a&gt;
		&lt;a href="#"&gt;Item 2&lt;/a&gt;
		&lt;a href="#"&gt;Item 3&lt;/a&gt;
	&lt;/div&gt;
	&lt;div id="content"&gt;
		{% block content %}
		{% endblock content %}
	&lt;/div&gt;
{% endblock app_content %}{% endverbatim %}
</pre>

</section>