<section id="push">
	<div class="page-header">
		<h1>Push Services</h1>
	</div>
	<p>Modern webapps can greatly benefit from realtime push interaction. Primer has out of the box support for two 3rd party notification services, PubNub and Pusher, as well as gives you an easy way to implement an additional 3rd party or your own custom push framework.</p>

	<h3>Setup</h3>
	<p>For Pusher or PubNub, setup only takes a few seconds. Note, you'll have to register at the appropriate site and get your own credentials.</p>
<pre class="prettyprint linenums">
# located in your main settings file
# note that this should be AFTER you have imported primers
# settings if you have used the primer.settings object

# this can be 'pubnub', 'pusher', or a full module path for a
# custom class. i.e. myapp.push.MyPushService
PUSH_SERVICE = 'pubnub' 

# these are a list of all possible keys
# you only need to add the ones your push framework requres
# for pusher, their key is pub_key
PUSH_SERVICE_SETTINGS = {
	'app_id' : 'my-app-id',
	'pub_key' : '0987654321',
	'sub_key' : '1234567890',
	'secret_key' : 'my-secret-key',
	'use_ssl' : False
}
</pre>

	<div class="alert alert-success">
		<strong>ALL DONE!</strong> Seriously, that was it. Now just read how to use it.
	</div>

	<h3>Server Side Useage</h3>
	<p>Anywhere you want to use your push service, you just have to import <code>primer.push.services.PushService</code>. <code>PushService</code> has the following methods:</p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Method</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>send(event, channels, users, data)</td>
				<td>
					Sends data through your push service backend. You have to set either channels or users, but not both.
					<ul>
						<li><strong>event</strong>: a string event name that the client side will receive and respond to, such as 'notification.new-notification'.</li>
						<li><strong>channels</strong>: an iterable of channel_ids to broadcast to. This will get autopopulated by the users channels if users are present.</li>
						<li><strong>users</strong>: an iterable of user objects or a single user. Their channel_ids will be looked up from their sessions.</li>
						<li><strong>data</strong>: the actual data you want to send. Should be a dict that is JSON encodeable by json.dumps.</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>subscribe(channel)</td>
				<td>This method can be implemented by the PushService class you are using if you want the server to be able to receive push events as well. When data is received, it will broadcast the <code>message_received</code> signal located in <code>primer.push.services</code></td>
			</tr>
		</tbody>
	</table>

<pre class="prettyprint linenums">
# example of how to push data to the current logged in user in a view
from primer.push.services import PushService

def myview(request):
	PushService.send(
		event = 'my-new-event',
		users = request.user,
		data = {
			'foo' : 'bar',
			'test' : 'case'
		}
	)
	...
</pre>
	
	<h3>Client Side Useage</h3>
	<p>If you are using Pubnub or Pusher, you're all set. The appropriate scripts and setup information is included. There is a global js class for you to access called <code>PushClient</code>. This class broadcasts events whenver it receives a new notification from the server, so you can listen for specific events and react accordingly.</p>

<pre class="prettyprint linenums">
//somehwere in your js
//the first argument is the event name you passed from the server side
PushClient.bind('my-event-name', function(data){
	//do whatever you want with the data here. This is the
	//data that came back from the server
});
</pre>

	<h3>Integrating a Custom PushService</h3>
	<p>If PubNub or Pusher don't do it for you, you can always implement your own push service. There is a class for you to extend located in <code>primer.push.services</code> called <code>PushServiceWrapper</code>. At a minimum, you need to perform your api setup in <b>__init__</b> and implement your own custom <b>_send_data</b> method. The following class attributes are available to you:</p>

	<ul>
		<li><strong>app_id</strong>: the app_id from PUSH_SERVER_SETTINGS</li>
		<li><strong>pub_key</strong>: the pub_key from PUSH_SERVER_SETTINGS</li>
		<li><strong>sub_key</strong>: the sub_key from PUSH_SERVER_SETTINGS</li>
		<li><strong>secret_key</strong>: the secret_key from PUSH_SERVER_SETTINGS</li>
		<li><strong>use_ssl</strong>: use_ssl from PUSH_SERVER_SETTINGS</li>
		
		<li><strong>api</strong>: You should set this to an instance of your api inside the init function</li>
	</ul>

	<p>Here is the pubnub service wrapper example. It also incorporates its own subscribe method. Notice that subscribe uses <b>self.receive</b> as its callback, which is there to be a default handler for messages if you would like to use it. It broacasts the <code>message_received</code> signal located in <code>primer.push.services</code></p>

<pre class="prettyprint linenums">
from pubnub.Pubnub import Pubnub
from primer.push.services import PushServiceWrapper
    
class PubNubService(PushServiceWrapper):

    def __init__(self, *args, **kwargs):
        super(PubNubService, self).__init__()

        self.api = Pubnub(
            self.pub_key,  
            self.sub_key,
            self.secret_key,
            self.use_ssl
        )


    def subscribe(self, channel):
        self.api.subscribe({
            'channel'  : channel,
            'callback' : self.receive 
        })


    def _send_data(self, channel, data):
        self.api.publish({
            'channel' : channel,
            'message' : data
        })
</pre>

	<p>In your settings.py file, you'll need to set PUSH_SERVER to a string pointing to your class. In the above example, it would be something like myapp.push.services.PubNubService</p>

	<h4>On the Client Side</h4>
	<p>You'll have to include the necessary javascript, but you can still use <code>PushClient</code> to do your handling. Override the following methods in <code>PushClient</code> to handle your push service accordingly.</p>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Method</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>PushClient.subscribe(channel_id)</td>
				<td>This method subscribes to channels for the user. Your function must also take channel_id.</td>
			</tr>
			<tr>
				<td>PushClient.unsubscribe(channel_id)</td>
				<td>This method unsubscribes from a channel or disconnects.</td>
			</tr>
		</tbody>
	</table>

<pre class="prettyprint linenums">
//example, override anywhere in your JS
PushClient.subscribe = function(channel_id) {
	//do some custom processing with your
	//make sure in the end, you pass any data you receive
	//to PushClient.receiveMessage(data)

	MyCustomFrameWork.subscribe(channel);
	MyCustomFramework.onReceveData(function(data){
		PushClient.receiveMessage(data);
	})
}
</pre>

</section>