{% load url from future %}

<section id="settings">
	<div class="page-header">
		<h1>Settings</h1>
	</div>

	<p>Primer comes with a quite a few apps that have a multitude of settings. In order to keep your settings file clean and pretty, the easiest thing to do is to include Primer's settings at the end of your settings file.</p>

<pre class="prettyprint linenums">
# this should be the last thing in your settings file
from primer.settings import *
</pre>

	<h3>What is it doing?</h3>
	<p>Since Primer is kind of a framework on a framework, importing the settings file does a bit of magic rewriting. It will include Primer's apps, middleware, and template context processors after Django's, but before your own. It will also add in any settings it needs that you didn't explicitly declare back into your setting's module's namespace.</p>

	<table id="settings-list" class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Setting</th>
				<th>Default</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>APP_ROOT</td>
				<td>Current Path</td>
				<td>This will be the path that your application is running from.</td>
			</tr>
			<tr>
				<td>COMPRESS_URL</td>
				<td>settings.STATIC_URL</td>
				<td>The compress url for django-compressor. <a href="http://django_compressor.readthedocs.org/en/latest/">Django Compressor</a></td>
			</tr>
			<tr>
				<td>COMPRESS_ENABLED</td>
				<td>True if debug is off.</td>
				<td>Whether or not to compress and minify js and css. It is a good idea to turn this on every once in a while in development to make sure your JS and CSS work minified.</td>
			</tr>
			<tr>
				<td>PUSH_SERVICE</td>
				<td>None</td>
				<td>Should be set to the name of a push service you want to use.This can be 'pubnub', 'pusher', or a string pointing to a custom class.</td>
			</tr>
			<tr>
				<td>PUSH_SERVICE_SETTINGS</td>
				<td>{}</td>
				<td>A dictionary of settings for your push service. Read <a href="{% url 'feature-get-started' %}#push" data-ajax="app">Get Started > Push Services</a> for more info.</td>
			</tr>
			<tr>
				<td>LESS_CSS_PATHS</td>
				<td>{}</td>
				<td>A dictionary of less inputs pointing to css outputs. See above example.</td>
			</tr>
			<tr>
				<td>LESS_PROCESSOR_ENABLED</td>
				<td>value of settings.DEBUG</td>
				<td>Whether or not you want to use the less processor. Defaults to your settings.DEBUG value, basically saying it is on by default if debug is on.</td>
			</tr>
			<tr>
				<td>LESS_ROOT</td>
				<td>settings.APP_ROOT</td>
				<td>This defaults to your applications root. You shouldn't have to change this, but I can't account for your DEV setup. This is the jumping off point for the lessc processor.</td>
			</tr>
		</tbody>
	</table>

</section>