{% extends app_template %}


{% block pre_content %}
<header class="jumbotron subhead" id="overview">
	<div class="container">
	<h1>Setup</h1>
	<p class="lead">Getting started with Primer is quick and easy.</p>
	</div>
</header>
{% endblock pre_content %}

{% block feature_nav %}
<li><a href="#installation">Installation</a></li>
<li><a href="#settings">Settings</a></li>
<li><a href="#less">LESS Compiler</a></li>
{% endblock feature_nav %}

{% block content %}
	
	{% include 'feature/setup_installation.html' %}
	{% include 'feature/setup_settings.html' %}
	{% include 'feature/setup_less.html' %}
{% endblock content %}