{% load url from future %}
{% load verbatim from primer_tags %}

<section id="template-tags">
	<div class="page-header">
		<h1>Template Tags <small>primer_tags</small></h1>
	</div>

	<table class="table table-borderd table-striped">
		<thead>
			<tr>
				<th>Template Tags</th>
				<th>Arugments</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{% verbatim %}{% include_raw 'mytemplate.html' %}{% endverbatim %}</td>
				<td>The template you want to include, as string.</td>
				<td>This will include a whole template without running it through Django's templating engine. This is useful if you need to include something like a set of JavaScript templates that would usually be parsed because it shares a similar syntax.</td>
			</tr>
			<tr>
				<td>{% verbatim %}{% verbatim %}{% endverbatim %}</td>
				<td>None</td>
				<td>This is a clone of Django 1.5 verbatim tag for use in older version of Django. It stops parsing a template until it hits an "endverbatim" tag.</td>
			<tr/>
			<tr>
				<td>{% verbatim %}{% build_url_params dict %}{% endverbatim %}</td>
				<td>A dictionary of params.</td>
				<td>This takes a python dictionary and collapses it into a a string of url params including the "?".</td>
			</tr>
		</tbody>
	</table>

<pre class="prettyprint linenums lang-html">{% verbatim %}
{% load build_url_params from primer_tags %}
&lt;a href="http://google.com{% build_url_params mydict %}"&gt;Google Search&lt;/a&gt;{% endverbatim %}
</pre>
</section>