{% load verbatim from primer_tags %}

<section id="template-blocks">
	<div class="page-header">
		<h1>Template Blocks</h1>
	</div>
	<p>The power of Primer's templates really lies in the fully leveraging template extensions and block overrides. The following are all blocks you can override from any of your templates. Obviously these don't apply if you override the templates that come with Primer.</p>

	<h3>Skeleton <small>primer/skeleton.html</small></h3>
	<table class="table table-borderd table-striped">
		<thead>
			<tr>
				<th>Block Tag</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>namespace</td>
				<td>A CSS namespace that goes on the html tag. Namespacing your css will save your life.</td>
			</tr>
			<tr>
				<td>title</td>
				<td>The title for your website / page</td>
			</tr>
			<tr>
				<td>favicon</td>
				<td>The favicon for your site. If you override, you will have to include the entire <code>&lt;link/&gt;</code> tag</td>
			</tr>
			<tr>
				<td>meta</td>
				<td>Any meta tags associated with your site. You will most likely want to super this block. <code>{% verbatim %}{{ block.super }}{% endverbatim %}</code></td>
			</tr>
			<tr>
				<td>header_css</td>
				<td>CSS for your site. This will be compressed using django-compressor.</td>
			</tr>
			<tr>
				<td>header_scripts</td>
				<td>Additional javascript to include on the site. All of the JS Primer needs will be included for you outside of this block.</td>
			</tr>
			<tr>
				<td>body_attrs</td>
				<td>Attributes for the body tag. <code>{% verbatim %}{% block body_attrs %}class="foo"{% endblock body_attrs %}</code>{% endverbatim %}</td>
			</tr>
			<tr>
				<td>body</td>
				<td>The actual contents of the body tag.</td>
			</tr>
			<tr>
				<td>external_scripts</td>
				<td>Any external scripts you are including in your site.</td>
			</tr>
		</tbody>
	</table>

	<h3>Base <small>primer/base.html</small></h3>
	<table class="table table-borderd table-striped">
		<thead>
			<tr>
				<th>Block Tag</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>navbar_class</td>
				<td>An additional class to append to bootsraps navbar. This contains <code>navbar-fixed-top</code> by default</td>
			</tr>
			<tr>
				<td>navbar</td>
				<td>The inner contents of the navbar.</td>
			</tr>
			<tr>
				<td>app_content</td>
				<td>The apps content, generally should be injected from your <code>app_template</code></td>
			</tr>
			<tr>
				<td>footer</td>
				<td>Contents of your footer.</td>
			</tr>
		</tbody>
	</table>
</section>