<section id="template-variable-names">
	<div class="page-header">
		<h1>Template Variable Names</h1>
	</div>
	<p>
		Primer defines a pattern for template extension that relies on convention. The following variables get passed into the template context. They are part of the <code>request.primer</code> dict and can be modified in any view before they ever hit the templates.
	</p>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Template Var</th>
				<th>Template Paths</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>skeleton_template</td>
				<td>['skeleton.html', 'primer/skeleton.html']</td>
				<td>This is the HTML skeleton for a site. It includes block tags for injecting things into the head of your document and includes all of Primers css and scripts. You can override Primer's by creating your own 'skeleton.html' file.</td>
			</tr>
			<tr>
				<td>base_template</td>
				<td>['base.html', 'primer/base.html']</td>
				<td>This is a layout for your site. In a typical example, it would possibly include a header, content area, and footer, but it could be anything. It should extend skeleton_template. There is a default layout in primer for you to use if you don't define your own. This needs to contain an empty block called <code>app_content</code>.
				<br/><br/>This template path will be automatically switched to Django's default login template if authentication is required <code>registration/login.html</code>.</td>
			</tr>
			<tr>
				<td>site_template</td>
				<td>[current_site_name + '/site.html', 'site.html', base_template]</td>
				<td>This is an optional but extremely useful template to include. This is a good place to add global site specific css and javascript files that all of your app_templates will extend. If you are using Primer's default base_template this is a great place to define your nav, navbar header, etc.</td>
			</tr>
			<tr>
				<td>app_template</td>
				<td>[appname + '/base.html', base_template]</td>
				<td>This template should extend base_template. This wil be a template that is located in a template directory that has the same name as your current app. This is a framing for your app. For instance, if you have an message style app for your site, this might represent the outside nav and menu, while the content of the individual sections is handled by the view_template. If not present, it defaults to whatever base_template is. This needs to contain a block called <code>app_content</code> which will include all of the contents of your apps html as well as an empty block called <code>content</code>.</td>
			</tr>
			<tr>
				<td>view_template</td>
				<td>[appname + '/view_name.html', view_name + '.html']</td>
				<td>This is the first point of contact from your view. It should extend app_template. It represents the content of your current view. In the example of the message app, this could be your actual inbox, or a sent messages area. This needs to include a block called <code>content</code>.</td>
			</tr>
		</tbody>
	</table>

	<h3>Modifying a Template Var</h3>
	<p>If you want to dynamically swap out or override a template, you can do so anywhere you have access to Django's request variable.</p>
<pre class="linenums prettyprint">
# in some view
request.primer['app_template'] = 'base/app_layout.html'
request.primer['base_template'] = 'alt_base.html'
</pre>
</section>