{% extends 'primer/base_ajax.html' %}
{% block ajax_content %}
	{% block section_content %}
	{% endblock section_content %}
	
	{% block section_content1 %}
	{% endblock section_content1 %}

	{% block section_content2 %}
	{% endblock section_content2 %}

	{% block section_content3 %}
	{% endblock section_content3 %}

	{% block section_content4 %}
	{% endblock section_content4 %}

	{% block section_content5 %}
	{% endblock section_content5 %}

	{% block section_content6 %}
	{% endblock section_content6 %}

	{% block section_content7 %}
	{% endblock section_content7 %}

	{% block section_content8 %}
	{% endblock section_content8 %}
{% endblock ajax_content %}

{% block ajax_scripts %}
	{% block section_scripts %}
	{% endblock section_scripts %}
{% endblock ajax_scripts %}