{% extends 'primer/base_ajax.html' %}
{% block ajax_content %}
	{% block fragment_content %}
	{% endblock fragment_content %}
	
	{% block fragment_content1 %}
	{% endblock fragment_content1 %}

	{% block fragment_content2 %}
	{% endblock fragment_content2 %}

	{% block fragment_content3 %}
	{% endblock fragment_content3 %}

	{% block fragment_content4 %}
	{% endblock fragment_content4 %}

	{% block fragment_content5 %}
	{% endblock fragment_content5 %}

	{% block fragment_content6 %}
	{% endblock fragment_content6 %}

	{% block fragment_content7 %}
	{% endblock fragment_content7 %}

	{% block fragment_content8 %}
	{% endblock fragment_content8 %}
{% endblock ajax_content %}

{% block ajax_scripts %}
	{% block fragment_scripts %}
	{% endblock fragment_scripts %}
{% endblock ajax_scripts %}